<% provide(:title, "Editing Evaluation") %>

<h1>Editing Evaluation</h1>

<%= render 'form', evaluation: @evaluation %>

<br>
<br>
<%= link_to 'Show', @evaluation %> |
<%= link_to 'Back', evaluations_path %>
