<% provide(:title, "Access Denied") %>

<h1 class="text-center">Access Denied</h1>

<h2 class="text-center">Please log in before trying to use this feature.</h2>
<br/>

<a class="btn btn-danger btn-lg btn-block home-button" href="/login" role="button">Student Log In</a>

<br/>

<a class="btn btn-danger btn- btn-lg btn-block home-button" href="/admin" role="button">Admin Log In</a>