<% provide(:title, "Home") %>

<h1 class="text-center display-1">Home</h1>

<h2 class="text-center">Welcome to our evaluation tool! Please log in before using the tool.</h2>
<br/>
<a class="btn btn-danger btn-lg btn-block home-button" href="/login" role="button">Student Log In</a>

<br/>

<a class="btn btn-danger btn- btn-lg btn-block home-button" href="/admin" role="button">Admin Log In</a>

<br>

