<footer class="footer">
    <small>
        Spaghetti Dump Trucks | Project 6 | CSE3901
    </small>
    <nav>
        <ul>
            <li><a href="http://web.cse.ohio-state.edu/~giles.25/3901/">Course Page</a></li>
        </ul>
    </nav>
</footer>